@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
  İstanbul/Ümraniye  <br />
    <abbr title="Telefon">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Destek</strong>   <a href="mailto:guelralihan75@gmail.com">guleralihan75@gmail.com</a><br />

</address>