@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>NBA FORMALARI</h1>

</div>

<div >
    <div>
      ORJİNAL FORMALAR
    </div>
    <div class="col-md-4">
       <img src="~/foto/walpppr.jpg"
    </div>
    <div >
      Kyrie Irvıng Yeni FORMA!!

    </div>
</div>